<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Change Password
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/alert.js"></script>

</head>
<body class="flex items-center justify-center min-h-screen "
      style="background-color: #e6dfcf; "
>
<div class=" rounded-lg flex justify-center md:flex-row w-full "
>
    <div class=" p-5 flex flex-col w-[30%] justify-center">
        <div class="flex mb-4">
            <a th:href="@{/home}"><i class="fas fa-home text-2xl">
            </i></a>
        </div>
        <h2 class="text-4xl font-bold text-center mb-6">
            Change Password
        </h2>
        <form id="changePasswordForm">
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700" for="password">
                    Password
                </label>
                <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                       id="password" placeholder="Password" type="password"/>
            </div>
            <div class="mb-4 relative">
                <label class="block text-sm font-medium text-gray-700" for="password">
                    New-password
                </label>
                <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                       id="new-password" placeholder="Password" type="password"/>
                <i class="fas fa-eye absolute right-3 top-9 text-gray-500" id="togglePassword">
                </i>
            </div>
            <div class="mb-4 relative">
                <label class="block text-sm font-medium text-gray-700" for="password">
                    Confirm-password
                </label>
                <input class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                       id="cf-password" placeholder="Confirm new password" type="password"/>
                </i>
            </div>
            <button class="w-full py-2 px-4 bg-orange-500 text-white font-bold rounded-md shadow-sm hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                    type="submit">
                Change
            </button>
        </form>
        <div class="text-center mt-6">
            <p class="text-sm text-gray-500">
                Create account?
                <a class="text-black font-bold" th:href="@{/auth/register}">
                    Register
                </a>
            </p>
        </div>
        <p id="error-message" class="text-red-500 text-sm text-center"></p>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordInput = document.getElementById("new-password");
        const isPasswordHidden = passwordInput.type === "password";

        // Chuyển đổi trạng thái input password
        passwordInput.type = isPasswordHidden ? "text" : "password";

        // Đổi icon giữa fa-eye và fa-eye-slash
        this.classList.toggle("fa-eye-slash");
    });

    $(document).ready(function () {
        $("#changePasswordForm").submit(function (event) {
            event.preventDefault();

            let formData = {
                password: $("#password").val(),
                newPassword: $("#new-password").val(),
                cfPassword: $("#cf-password").val()
            };

            $.ajax({
                type: "POST",
                url: "/auth/change-password",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (response) {
                    showMessage(response.message, response.messageType);
                    if (response.messageType === "success") {
                        setTimeout(function () {
                            window.location.href = "/profile";
                        }, 3000); // Chờ 3 giây rồi chuyển hướng
                    }
                },
                error: function () {
                    showMessage("Server error! Please try again.", "error");
                }
            });
        });
    });
</script>

</html>
