<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/alert.js"></script>
</head>
<body class="flex items-center justify-center min-h-screen "
      style="background-color: #e6dfcf; "
>
<div class=" rounded-lg flex justify-center md:flex-row w-full "
>
    <div class=" p-5 flex flex-col w-[30%] justify-center">
        <div class="flex mb-4">
            <a th:href="@{/home}"><i class="fas fa-home text-2xl">
            </i></a>
        </div>
        <h2 class="text-4xl font-bold text-center mb-6">
            Forgot Password
        </h2>

        <!-- Bước 1: Nhập Email -->
        <div id="step-email">
            <label class="block text-sm font-medium text-gray-700">Enter your Email address to reset your
                password</label>
            <input id="email" type="email" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm"
                   placeholder="Enter your email"/>
            <button id="sendOtpBtn" class="w-full mt-3 py-2 bg-orange-500 text-white rounded-md">Send OTP</button>
        </div>

        <!-- Bước 2: Nhập OTP -->
        <div id="step-otp" class="hidden">
            <label class="block text-sm font-medium text-gray-700">Enter OTP</label>
            <input id="otp" type="text" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm"
                   placeholder="Enter OTP"/>
            <button id="verifyOtpBtn" class="w-full mt-3 py-2 bg-orange-500 text-white rounded-md">Verify OTP</button>
        </div>

        <!-- Bước 3: Đặt lại mật khẩu -->
        <div id="step-reset-password" class="hidden">
            <label class="block text-sm font-medium text-gray-700">New Password</label>
            <input id="new-password" type="password" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm"
                   placeholder="New Password"/>

            <label class="block text-sm font-medium text-gray-700 mt-2">Confirm Password</label>
            <input id="cf-password" type="password" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm"
                   placeholder="Confirm New Password"/>

            <button id="resetPasswordBtn" class="w-full mt-3 py-2 bg-orange-500 text-white rounded-md">Reset Password
            </button>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#sendOtpBtn").click(function () {
            let email = $("#email").val();
            $.ajax({
                type: "POST",
                url: "/auth/forgot-password",
                contentType: "application/json",
                data: JSON.stringify({email}),
                success: function (response) {
                    showMessage(response.message, response.messageType);
                    if (response.messageType === "success") {
                        $("#step-email").hide();
                        $("#step-otp").show();
                    }
                },
                error: function (xhr) {
                    let errorResponse = JSON.parse(xhr.responseText);
                    showMessage(errorResponse.message, errorResponse.messageType);
                }
            });
        });

        $("#verifyOtpBtn").click(function () {
            let email = $("#email").val();
            let otp = $("#otp").val();
            $.ajax({
                type: "POST",
                url: "/auth/verify-otp",
                contentType: "application/json",
                data: JSON.stringify({email, otp}),
                success: function (response) {
                    showMessage(response.message, response.messageType);
                    if (response.messageType === 'success') {
                        $("#step-otp").hide();
                        $("#step-reset-password").show();
                    }
                },
                error: function (xhr) {
                    let errorResponse = JSON.parse(xhr.responseText);
                    showMessage(errorResponse.message, errorResponse.messageType);
                }
            });
        });

        $("#resetPasswordBtn").click(function () {
            let email = $("#email").val();
            let newPassword = $("#new-password").val();
            let confirmPassword = $("#cf-password").val();
            $.ajax({
                type: "POST",
                url: "/auth/reset-password",
                contentType: "application/json",
                data: JSON.stringify({email, newPassword, confirmPassword}),
                success: function (response) {
                    showMessage(response.message, response.messageType);
                    setTimeout(() => {
                        window.location.href = "/auth/login";
                    }, 3000);
                },
                error: function (xhr) {
                    let errorResponse = JSON.parse(xhr.responseText);
                    showMessage(errorResponse.message, errorResponse.messageType);
                }
            });
        });
    });
</script>


</html>