<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Membership List</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-2xl">Membership List</h2>

    <label for="rankFilter">Filter by Rank:</label>
    <select id="rankFilter" class="form-select">
        <option value="">All</option>
        <option value="Bronze">Bronze</option>
        <option value="Silver">Silver</option>
        <option value="Gold">Gold</option>
        <option value="Platinum">Platinum</option>
    </select>

    <table id="categoryTable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Point</th>
            <th>Rank</th>
            <th>Type</th>
            <th>ExpiryDate</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>